#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Laurent outang
Exec=/usr/bin/chromium-browser --profile-directory="Profile_LaurentOutang"
Icon=avatar_generic_orange.png
Categories=Network;
StartupWMClass=chromium-laurentoutang
